*{
    margin: 0;
    padding: 0;
    
}

body{
    background-color: #E5E5E5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    
    height: 50px;
    width: 100%;
    padding: 10px;
}

#logo{
    float: left;
    
    height: 100%;
}

main{
    
    width: 99vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
}

section{
    width: 40%;
    height: 100%;
}

.section1{
    
    width: 75%;
    height: 100%;
}

.area, .desencriptado{
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    border-style: hidden;
    margin-top: 0px;
    resize: none;
    font-size: 25px;
    border-radius: 20px;
    border-color: #E5E5E5;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #0A3871;
    padding: 20px;
    box-sizing: border-box;
    
}

.advertencia{
    margin-top: 10px;
    color: #495057;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 350px;
    font-size: 20px;
    opacity: 70%;
}



.container-buttons{
    margin-top: 20px;
    text-align: center;
}

.btn-encriptar, .btn-desencriptar {
    width: 25%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #0A3871;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.btn-encriptar:active, .btn-desencriptar:active, .btn-copiar:active{
    background-color: #0A3871;
    color: #ffffff;
    
}



.section2{
    background-color: #ffffff;
    border-radius: 20px;
    margin-right: 20px;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.container-img{
    width: 100%;
    height: 70%;
    padding-top: 150px;
    box-sizing: border-box;
}

.container-h3{
    width: 100%;
    height: 10%;
    text-align: center;
}

.container-p{
    width: 100%;
    height: 20%;
    text-align: center;

}

.container-result{
    width: 100%;
    height: 76%;
    padding: 25px;
    box-sizing: border-box;
}

.container-copy{
    width: 100%;
    height: 30%;
    margin-top: 1px;
    
}

.btn-copiar{
    width: 50%;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #0A3871;
    border-radius: 20px;
    border-style: hidden;
    display: block;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

footer{
    
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.hide{
    display: none;
}